<!-- <p>resportes-vencidos works!</p> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 mt-2">
      <div class="card card-info">
        <div class="card-header">
          <h2 class="card-title">REPORTE: PRESTAMOS VENCIDOS</h2>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-8">
                  <div class="row">
                    <div class="col-md-10">
                      <input
                        type="text"
                        name="nombre"
                        class="form-control mr-2"
                        placeholder="Esciba el Titulo del Libro"
                        (input)="findPrestamoVencido()"
                        [(ngModel)]="buscar.cliente"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- TABLA DE DATOS -->
          <section *ngIf="cargando; else loaderOnError">
            <table class="table table-bordered table-striped">
              <tr>
                <td><strong>Numero de Registros:</strong> {{ allVencidos }}</td>
              </tr>
            </table>
            <table id="example1" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>LIBRO</th>
                  <th>CLIENTE</th>
                  <th>FECHA PRESTAMO</th>
                  <th>DIAS PRESTAMO</th>
                  <th>ESTADO</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let item of vencidos
                      | paginate
                        : {
                            itemsPerPage: cantReg,
                            currentPage: pagination,
                            totalItems: allVencidos
                          }
                  "
                >
                  <td>{{ item.libros[0].titulo }}</td>
                  <td>{{ item.clientes[0].name }}</td>
                  <td>{{ item.fecha_prestamo | date : "dd/MM/yyyy" }}</td>
                  <td>{{ item.dias_prestamo }}</td>
                  <td>{{ item.estado }}</td>
                </tr>
              </tbody>
            </table>
          </section>
          <div class="d-flex justify-content-center">
            <div class="col-md-1">
              <label for="form-label">Ver:</label>
            </div>
            <div class="col-md-1">
              <select
                name="cantReg"
                [(ngModel)]="cantReg"
                class="form-control"
                (change)="numRegistro()"
              >
                <option [value]="5">5</option>
                <option [value]="10" selected>10</option>
                <option [value]="20">15</option>
                <option [value]="30">20</option>
                <option [value]="40">30</option>
                <option [value]="50">40</option>
              </select>
            </div>
            <div class="col-md-10">
              <pagination-controls
                (pageChange)="renderPage($event)"
              ></pagination-controls>
            </div>
          </div>
          <!-- </section> -->
          <!-- FIN -->
        </div>
        <!-- /.card-body -->
      </div>
    </div>
  </div>
</div>

<ng-template #loaderOnError>
  <app-load-table></app-load-table>
</ng-template>
